In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=e2fe2c8a9c44b19156221861aec778677fb60bc909229c00aac54ca0d5a11572
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [4]:
csv_url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(csv_url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
import pandas as pd
import numpy as np

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkBy').getOrCreate()
apply_df = spark.createDataFrame(data=df)

In [7]:
apply_df.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

In [10]:



from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def capitalize_job(job):
  if job is not None:
    return job.capitalize()
  else:
    return job

capitalize_udf = udf(capitalize_job, StringType())

apply_df = apply_df.withColumn("Mjob_cap", capitalize_udf("Mjob")) \
                   .withColumn("Fjob_cap", capitalize_udf("Fjob"))

apply_df.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|Mjob_cap|Fjob_cap|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6| At_home| Teacher|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6| At_home|   Other|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10| At_home|   Other|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|  Health|Services|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|   Other|   Other|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|Services|   Other|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|   Other|   Other|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|   Other| Teacher|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|Services|   Other|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|   Other|   Other|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9| Teacher|  Health|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|Services|   Other|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|  Health|Services|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11| Teacher|   Other|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|   Other|   Other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|  Health|   Other|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|Services|Services|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|   Other|   Other|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|Services|Services|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|  Health|   Other|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+
only showing top 20 rows

In [14]:


# Create a function to print the last elements of the dataset
def print_last_elements(df, n=5):
  """
  Prints the last n elements of a Spark DataFrame.

  Args:
    df: The Spark DataFrame.
    n: The number of elements to print (default: 5).
  """
  last_elements = df.tail(n)
  for row in last_elements:
    print(row)

# Call the function to print the last 5 elements
print_last_elements(apply_df)

Row(school='MS', sex='M', age=20, address='U', famsize='LE3', Pstatus='A', Medu=2, Fedu=2, Mjob='services', Fjob='services', reason='course', guardian='other', traveltime=1, studytime=2, failures=2, schoolsup='no', famsup='yes', paid='yes', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=5, freetime=5, goout=4, Dalc=4, Walc=5, health=4, absences=11, G1=9, G2=9, G3=9, Mjob_cap='Services', Fjob_cap='Services')
Row(school='MS', sex='M', age=17, address='U', famsize='LE3', Pstatus='T', Medu=3, Fedu=1, Mjob='services', Fjob='services', reason='course', guardian='mother', traveltime=2, studytime=1, failures=0, schoolsup='no', famsup='no', paid='no', activities='no', nursery='no', higher='yes', internet='yes', romantic='no', famrel=2, freetime=4, goout=5, Dalc=3, Walc=4, health=2, absences=3, G1=14, G2=16, G3=16, Mjob_cap='Services', Fjob_cap='Services')
Row(school='MS', sex='M', age=21, address='R', famsize='GT3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='other', reason='course', guardian='other', traveltime=1, studytime=1, failures=3, schoolsup='no', famsup='no', paid='no', activities='no', nursery='no', higher='yes', internet='no', romantic='no', famrel=5, freetime=5, goout=3, Dalc=3, Walc=3, health=3, absences=3, G1=10, G2=8, G3=7, Mjob_cap='Other', Fjob_cap='Other')
Row(school='MS', sex='M', age=18, address='R', famsize='LE3', Pstatus='T', Medu=3, Fedu=2, Mjob='services', Fjob='other', reason='course', guardian='mother', traveltime=3, studytime=1, failures=0, schoolsup='no', famsup='no', paid='no', activities='no', nursery='no', higher='yes', internet='yes', romantic='no', famrel=4, freetime=4, goout=1, Dalc=3, Walc=4, health=5, absences=0, G1=11, G2=12, G3=10, Mjob_cap='Services', Fjob_cap='Other')
Row(school='MS', sex='M', age=19, address='U', famsize='LE3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='at_home', reason='course', guardian='father', traveltime=1, studytime=1, failures=0, schoolsup='no', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='yes', romantic='no', famrel=3, freetime=2, goout=3, Dalc=3, Walc=3, health=5, absences=5, G1=8, G2=9, G3=9, Mjob_cap='Other', Fjob_cap='At_home')

In [15]:


# Create a function to check if a person is of legal drinking age
def majority(age):
  if age > 17:
    return True
  else:
    return False

# Create a UDF for the majority function
majority_udf = udf(majority, StringType())

# Apply the UDF to create the new column
apply_df = apply_df.withColumn("legal_drinker", majority_udf("age"))

# Show the DataFrame with the new column
apply_df.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+-------------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|Mjob_cap|Fjob_cap|legal_drinker|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+-------------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6| At_home| Teacher|         true|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6| At_home|   Other|        false|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10| At_home|   Other|        false|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|  Health|Services|        false|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|   Other|   Other|        false|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|Services|   Other|        false|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|   Other|   Other|        false|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|   Other| Teacher|        false|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|Services|   Other|        false|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|   Other|   Other|        false|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9| Teacher|  Health|        false|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|Services|   Other|        false|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|  Health|Services|        false|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11| Teacher|   Other|        false|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|   Other|   Other|        false|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|  Health|   Other|        false|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|Services|Services|        false|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|   Other|   Other|        false|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|Services|Services|        false|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|  Health|   Other|        false|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+-------------+
only showing top 20 rows

In [17]:
# multiply by 10

from pyspark.sql.types import IntegerType, DoubleType, LongType, FloatType
from pyspark.sql.functions import col

def multiply_by_ten(df):
  """
  Multiplies every numeric column in a Spark DataFrame by 10.

  Args:
    df: The Spark DataFrame.
  """
  numeric_cols = [col_name for col_name in df.columns if df.schema[col_name].dataType in [
      IntegerType(), DoubleType(), LongType(), FloatType()
  ]]
  for col_name in numeric_cols:
    df = df.withColumn(col_name, col(col_name) * 10)
  return df

# Apply the function to the DataFrame
apply_df = multiply_by_ten(apply_df)

# Show the modified DataFrame
apply_df.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+-------------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|Mjob_cap|Fjob_cap|legal_drinker|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+-------------+
|    GP|  F|180|      U|    GT3|      A|  40|  40| at_home| teacher|    course|  mother|        20|       20|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|    40|      30|   40|  10|  10|    30|      60| 50| 60| 60| At_home| Teacher|         true|
|    GP|  F|170|      U|    GT3|      T|  10|  10| at_home|   other|    course|  father|        10|       20|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|    50|      30|   30|  10|  10|    30|      40| 50| 50| 60| At_home|   Other|        false|
|    GP|  F|150|      U|    LE3|      T|  10|  10| at_home|   other|     other|  mother|        10|       20|      30|      yes|    no| yes|        no|    yes|   yes|     yes|      no|    40|      30|   20|  20|  30|    30|     100| 70| 80|100| At_home|   Other|        false|
|    GP|  F|150|      U|    GT3|      T|  40|  20|  health|services|      home|  mother|        10|       30|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|    30|      20|   20|  10|  10|    50|      20|150|140|150|  Health|Services|        false|
|    GP|  F|160|      U|    GT3|      T|  30|  30|   other|   other|      home|  father|        10|       20|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|    40|      30|   20|  10|  20|    50|      40| 60|100|100|   Other|   Other|        false|
|    GP|  M|160|      U|    LE3|      T|  40|  30|services|   other|reputation|  mother|        10|       20|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|    50|      40|   20|  10|  20|    50|     100|150|150|150|Services|   Other|        false|
|    GP|  M|160|      U|    LE3|      T|  20|  20|   other|   other|      home|  mother|        10|       20|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|    40|      40|   40|  10|  10|    30|       0|120|120|110|   Other|   Other|        false|
|    GP|  F|170|      U|    GT3|      A|  40|  40|   other| teacher|      home|  mother|        20|       20|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|    40|      10|   40|  10|  10|    10|      60| 60| 50| 60|   Other| Teacher|        false|
|    GP|  M|150|      U|    LE3|      A|  30|  20|services|   other|      home|  mother|        10|       20|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|    40|      20|   20|  10|  10|    10|       0|160|180|190|Services|   Other|        false|
|    GP|  M|150|      U|    GT3|      T|  30|  40|   other|   other|      home|  mother|        10|       20|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|    50|      50|   10|  10|  10|    50|       0|140|150|150|   Other|   Other|        false|
|    GP|  F|150|      U|    GT3|      T|  40|  40| teacher|  health|reputation|  mother|        10|       20|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|    30|      30|   30|  10|  20|    20|       0|100| 80| 90| Teacher|  Health|        false|
|    GP|  F|150|      U|    GT3|      T|  20|  10|services|   other|reputation|  father|        30|       30|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|    50|      20|   20|  10|  10|    40|      40|100|120|120|Services|   Other|        false|
|    GP|  M|150|      U|    LE3|      T|  40|  40|  health|services|    course|  father|        10|       10|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|    40|      30|   30|  10|  30|    50|      20|140|140|140|  Health|Services|        false|
|    GP|  M|150|      U|    GT3|      T|  40|  30| teacher|   other|    course|  mother|        20|       20|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|    50|      40|   30|  10|  20|    30|      20|100|100|110| Teacher|   Other|        false|
|    GP|  M|150|      U|    GT3|      A|  20|  20|   other|   other|      home|   other|        10|       30|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|    40|      50|   20|  10|  10|    30|       0|140|160|160|   Other|   Other|        false|
|    GP|  F|160|      U|    GT3|      T|  40|  40|  health|   other|      home|  mother|        10|       10|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|    40|      40|   40|  10|  20|    20|      40|140|140|140|  Health|   Other|        false|
|    GP|  F|160|      U|    GT3|      T|  40|  40|services|services|reputation|  mother|        10|       30|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|    30|      20|   30|  10|  20|    20|      60|130|140|140|Services|Services|        false|
|    GP|  F|160|      U|    GT3|      T|  30|  30|   other|   other|reputation|  mother|        30|       20|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|    50|      30|   20|  10|  10|    40|      40| 80|100|100|   Other|   Other|        false|
|    GP|  M|170|      U|    GT3|      T|  30|  20|services|services|    course|  mother|        10|       10|      30|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|    50|      50|   50|  20|  40|    50|     160| 60| 50| 50|Services|Services|        false|
|    GP|  M|160|      U|    LE3|      T|  40|  30|  health|   other|      home|  father|        10|       10|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|    30|      10|   30|  10|  30|    50|      40| 80|100|100|  Health|   Other|        false|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+--------+--------+-------------+
only showing top 20 rows